/*GENERALES*/
*{
    margin: 0;
    padding: 0;
}

/*CUERPO*/

body{
    /*Color de fondo*/
    background-color: #cec3c1;
}

/*ENCABEZADO*/
#header{
    /*TAMAÑO*/
    width: 100%;
    height: auto;
    /*MÁRGENES*/
    margin-top: 2%;
    margin-bottom: 10%;
    /*ALINEACIÓN*/
    text-align: center;
    /*FORMATO TEXTO*/
    font-size: 45px;
    color: #240115; 
    /*FORMATO FONDO*/
    background-color: #87F5FB; /*Fijate que no se colorea del todo la sección, eso es porque estamos coloreando solamente el h1 y no el div del h1*/

}

#contacto{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #2F131E;
    color: #DE3C4B;
    font-size: 30px;
    text-align: center;
}

.superTitulo{
    font-size: 35px;
}

footer{
    margin-top: 2%;
    padding:2%;
    background-color: #2F131E;
    color: #CEC3C1;
}